/* GENERAL
------------------- */
@font-face {
    font-family: 'Boots And Spurs';
    src: url('/fonts/BootsAndSpurs.ttf') format('truetype'); /*IMPORT LOCAL FONT*/
}

* {
    font-family: 'Roboto', 'sans-serif';
}

.dark-bg {
    background-color: #202020;
    color: white;
}


/* --- CTA --- */
.cta {
    color: white;
    display: inline-block;
    text-align: center; 
    border-radius: 6px;
    text-transform: uppercase;
}

.cta-small {
    padding: 10px 35px;
    font-size: 14px;
}

.cta-big {
    padding: 25px 145px; 
    font-size: 25px;
}
.cta-red {
    background-color: #BB0000;
}

.cta-sale {
    background-color: #127300;
}

.cta-contact {
    padding: 10px 100px; 
    font-size: 25px;
}


/* --- FOOTER --- */
footer {
    text-align: center;
    bottom: 0px;
    margin-top: 20px;
}


/* --- NAV --- */
nav {
    padding: 1em;
}

nav a {
    font-size: 30px;
    margin-right: 30px;
}

.nav-header, h1, h2 {
    font-family: 'Boots And Spurs' !important;
    color: #000000;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.nav-header {
    font-size: 45px;
    color: white;
    padding: 0px 25px;
}

/* --- LINKS --- */
a {
    text-decoration: none;
}
    
a:visited {
    color: white;
}
    
.current {
    text-decoration: underline;
}




/* INDEX
------------------- */
/* --- HEADER --- */
.hero-header {
    background-image: url(../images/home-header.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.hero-header h1 {
    font-size: 40px;
    position: absolute;
    top: 7em;
    left: 3em;
}

.hero-header p {
    position: absolute;
    top: 13em;
    left: 10em;
}


/* --- FOOTER --- */
footer p {
    font-size: 20px;
}


/* --- GUITARS LIST --- */
.guitar-list {
    margin: 3em;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.guitar-list-header {
    position: relative;

}

.guitar-list-header li {
    font-size: 35px;
}

.guitar-list img {
    max-height: 450px;
}


/* --- GUITARS --- */
.guitar {
    background-color: #FBFBFB;
}

.view-our-guitars {
    margin: 10em;
}

.guitar p {
    font-size: 1.2em;
}

.guitar-list img {
    border-radius: 100px;
}

.guitar-container {
    display: flex;
}

.guitar {
    margin: 10px;
}

.guitar a {
    position: relative;
    top: -4em;
    float: right; 
}

.guitar img {
    max-height: 250px;
}

.strike {
    text-decoration: line-through;
}


/* --- REVIEWS --- */
.reviews {
    background-color: #e8e8e8;
    padding: 3em;
}

.reviews h2 {
    text-align: center;
}

.reviews img {
    border-radius: 50%;
    max-height: 100px;
}

.reviews-container {
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
}

.reviews-item {
    width: 35vw;
}




/* GUITARS
------------------- */
.product-list {
    display: grid;
    grid-template-columns:
    1fr 1fr 1fr;
    gap: 1em;
    max-width: 1000px;
    margin: auto;
}

.product-list img {
    max-width: 300px;
}

.product-list p {
    font-size: 14px;
    text-align: left;
    float: left;
}

.product-list a {
    float: right;
}

.guitars-main {
    text-align: center;
}

.guitars-page {
    display: flex;
    margin: 5em;
    justify-content: center;
}

.guitars-page h1 {
    font-size: 45px;
}

.guitars-page p {
    font-size: 20px;
}

.guitar-price {
    font-size: 30px !important;
}

.guitar-show {
    max-width: 540px;
    margin-right: 2em;
}

.guitar-show img {
    max-width: 540px;
}

.guitar-show-image-container {
    display: flex;
}

.guitar-show-image-container img {
    height: 80px;
    flex: 1;
}

.guitar-show-image {
    margin-right: 10px;
}

.guitar-info {
    max-width: 540px;
    position: relative;
    margin-top: -3em;
}

.cta-contact {
    position: relative;
    top: 2em;
    right: -3.5em;
}



/* CONTACT
------------------- */
/* --- FORM --- */
input,
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    padding: 10px;

}

textarea {
    height: 60%;
    width: 90%;
}

input[type=submit] {
    background-color: #BB0000;
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 25px;
    padding: 15px 120px;
}

.contact {
    text-align: center;
    max-width: 1000px;
    margin: 5em auto 10em auto;
}


label {
    text-align: left;
}

.form-container {
    display: flex;
}

.form-container > * {
    flex: 1;
}

.form-left-column {
    display: flex;
    flex-direction: column;
}