/* ------ GENERAL ------ */
@font-face {
    font-family: 'Boots And Spurs';
    src: url('/fonts/BootsAndSpurs.ttf') format('truetype'); /*IMPORT LOCAL FONT*/
}

* {
    font-family: 'Roboto', 'sans-serif';
}

.dark-bg {
    background-color: #202020;
    color: white;
}

a:visited {
    color: white;
}

.nav-header, h1, h2 {
    font-family: 'Boots And Spurs' !important;
}


.cta-red {
    background-color: red;
    color: white;
    font-size: 25px;
}

.hero-header {
    background-image: url(../images/home-header.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}


footer {
    text-align: center;
    bottom: 0px;
    margin-top: 20px;
}

.reviews {
    background-color: #e8e8e8;
}

.reviews img {
    border-radius: 50%;
}

.guitar {
    background-color: #FBFBFB;
}

.cta-sale {
    background-color: #127300;
    color: white;
    font-size: 25px;
}

.guitar-list img {
    border-radius: 100px;
}

input[type=submit] {
    background-color: red;
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 25px;
}

nav ul {
padding: 0px;
}

a {
    text-decoration: none;
}

nav li {
    display: inline;
}

.current {
    text-decoration: underline;
}

